@model Fall2024_Assignment3_jlcrawford3.Models.Actor

@{
    ViewData["Title"] = "Delete Actor";
}

<div class="theater-container actor-background">
    <div class="content-card">
        <div class="card-header">
            <h1 class="page-title">Delete Actor</h1>
        </div>
        <div class="card-body">
            <div class="delete-container">
                <div class="warning-message">
                    Are you sure you want to delete this actor?
                </div>

                <div class="actor-details">
                    <div class="photo-preview">
                        @if (!string.IsNullOrEmpty(Model.Photo))
                        {
                            <img src="@Model.Photo" alt="@Model.Name Photo" class="delete-thumbnail" />
                        }
                    </div>

                    <dl class="details-list">
                        <dt>Name</dt>
                        <dd>@Html.DisplayFor(model => model.Name)</dd>

                        <dt>Gender</dt>
                        <dd>@Html.DisplayFor(model => model.Gender)</dd>

                        <dt>Age</dt>
                        <dd>@Html.DisplayFor(model => model.Age)</dd>

                        <dt>IMDb</dt>
                        <dd>
                            @{
                                var imdbId = Model.Imdb.Split('/').Where(x => x.StartsWith("nm")).FirstOrDefault() ?? Model.Imdb;
                            }
                            <a href="@Model.Imdb" target="_blank">@imdbId</a>
                        </dd>
                    </dl>
                </div>

                <form asp-action="Delete" class="delete-form">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-actions">
                        <button type="submit" class="btn btn-delete">Delete</button>
                        <a asp-action="Index" class="btn btn-back">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
