@model Fall2024_Assignment3_jlcrawford3.Models.Movie

@{
    ViewData["Title"] = "Delete Movie";
}

<div class="theater-container movie-background">
    <div class="content-card">
        <div class="card-header">
            <h1 class="page-title">Delete Movie</h1>
        </div>
        <div class="card-body">
            <div class="delete-container">
                <div class="warning-message">
                    Are you sure you want to delete this movie?
                </div>

                <div class="movie-details">
                    <div class="poster-preview">
                        @if (!string.IsNullOrEmpty(Model.Poster))
                        {
                            <img src="@Model.Poster" alt="@Model.Title Poster" class="delete-thumbnail" />
                        }
                    </div>

                    <dl class="details-list">
                        <dt>Title</dt>
                        <dd>@Html.DisplayFor(model => model.Title)</dd>

                        <dt>Genre</dt>
                        <dd>@Html.DisplayFor(model => model.Genre)</dd>

                        <dt>Year</dt>
                        <dd>@Html.DisplayFor(model => model.Year)</dd>

                        <dt>IMDb</dt>
                        <dd>
                            @{
                                var imdbId = Model.Imdb.Split('/').Where(x => x.StartsWith("tt")).FirstOrDefault() ?? Model.Imdb;
                            }
                            <a href="@Model.Imdb" target="_blank">@imdbId</a>
                        </dd>
                    </dl>
                </div>

                <form asp-action="Delete" class="delete-form">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-actions">
                        <button type="submit" class="btn btn-delete">Delete</button>
                        <a asp-action="Index" class="btn btn-back">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
